* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.4s;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primaryColor: #177e89;
  --secondaryColor: #084c61;
  --orangColor: #ed8146;
  overflow: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(50vh);
  scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
  display: none;
}

/* all google icons */
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v99/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2)
    format("woff2");
}

.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* nav bar */

nav {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.747);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 11px rgba(122, 0, 0, 0.356);
  position: fixed;
  z-index: 2;
  padding: 0 30px 0 30px;
}
ul {
  display: flex;
  list-style-type: none;
}

.donateBtn {
  background-color: var(--orangColor);
  height: 35px;
  width: 80px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav img {
  width: 50px;
}

/* link btn */

.btn {
  background-color: rgba(255, 255, 255, 0);
  height: 35px;
  width: 80px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: rgba(95, 13, 51, 0.274);
  cursor: pointer;
  transition: all 0.5s ease;
}

/* home page */

.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
}

.homeContainer div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.homeContainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  /* animation: blink 2s infinite; */
  user-select: none;
  z-index: 1;
}

/* @keyframes blink {
  to {
    opacity: 0;
  }
} */

.circleContainer {
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* about page */

.aboutContainer {
  height: 100vh;
  width: 100vw;
}

/* videos page */

.videosContainer {
  height: 100vh;
  width: 100vw;
  background-color: red;
}

/* contact page */

.contactContainer {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
}

.left {
  width: 65vw;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryColor);
}

.right form {
  height: 65vh;
  width: 60%;
}

.right form h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.right form input {
  height: 50px;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 5px;
  outline: none;
  border: 0.1px solid black;
}

.right form textarea {
  min-height: 80px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 0.1px solid black;
}

.right form button {
  background-color: var(--orangColor);
  height: 35px;
  width: 80px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

/* calender page */

.calendarContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--orangColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calendarAgenda {
  height: 100vh;
  width: 35%;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.calendarAgenda div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 90%;
  background-color: var(--orangColor);
  border-radius: 10px;
  position: relative;
}

.calendarAgenda div:hover {
  opacity: 0.7;
  cursor: default;
}

.calendarAgenda div .left {
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.calendarAgenda div .right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.calendarAgenda div .right div {
  display: flex;
  flex-direction: column;
}

.calendarAgenda div h1 {
  font-size: large;
  text-align: center;
}

.calendarAgenda div p {
  font-weight: bold;
}

/* about page */

.aboutContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top h1 {
  font-size: xx-large;
}

.bottom {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.bottom div {
  height: 30vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.bottom div img {
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.bottom div div {
  text-align: center;
}
